<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CovidTracker</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div>
            <div class="d-flex text-center text-white bg-dark bgimage">
                <div class="cover-container d-flex w-100 mx-auto h-100 p-3 flex-column">
                    <header class="mb-auto heading">
                        <div>
                            <h3 class="float-md-left mb-0 mainhead">Covid-19 Live-Tracker</h3>
                            <nav class="nav nav-masthead justify-content-center float-md-right">
                                <a class="nav-link active mainhead" aria-current="page" href="#">Home</a>
                                <a class="nav-link mainhead" href="/maptrack">Map Tracking</a>
                                <a class="nav-link mainhead" href="/casetrack">Statistics</a>
                                <a class="nav-link mainhead" href="/news">News</a>
                                <a class="nav-link mainhead" href="/vaccine">Vaccine</a>
                            </nav>
                        </div>
                    </header>
                    <main class="px-3 mb-auto btnhead">
                        <h1 class='display-3 mb-3 mainhead justify-content-center'>EVERYTHING YOU NEED TO KNOW
                            ABOUT
                            COVID-19</h1>
                        <div class="container p-0">
                            <div class="flex-row">
                                <a href="#about"
                                    class="btn btn-secondary bton effect01 btnrm subhead col-12 col-lg-5 mb-1">About
                                    the
                                    Virus</a>
                                <a href="#prevent"
                                    class="btn btn-secondary bton effect01 btnrm subhead col-12 col-lg-5 mb-1">Preventing
                                    Its
                                    Spread</a>
                                <a href='#journey'
                                    class="btn btn-secondary bton effect01 btnrm subhead col-12 col-lg-5 mb-1">Timeline</a>
                                <a href="#questions"
                                    class="btn btn-secondary bton effect01 btnrm subhead col-12 col-lg-5 mb-1">Frequently
                                    Asked
                                    Questions</a>
                            </div>
                        </div>
                    </main>

                    <main>

                        <a href="/maptrack" class="btn btn-dark bton effect01 mainhead text-light"><span>Proceed To Map
                                Tracking</span></a>


                    </main>

                    <footer class="mt-auto text-white-50">
                        <p></p>
                    </footer>


                </div>
            </div>

            <section class='card' id='about'>
                <div class='card-body'>
                    <h2 class='display-4 text-center mb-4 mainhead'>About the Virus </h2>
                    <p class="lead col-lg-6 offset-lg-3 subhead">Coronavirus disease (COVID-19) is an infectious disease
                        caused
                        by a
                        newly
                        discovered
                        coronavirus.
                        In early 2020, after a December 2019 outbreak in China, the World Health Organization identified
                        SARS-CoV-2 as a new type of coronavirus.<br>
                        The outbreak quickly spread around the world.
                        COVID-19 is a disease caused by SARS-CoV-2 that can trigger what doctors call a respiratory
                        tract
                        infection.<br>
                        It can affect your upper respiratory tract (sinuses, nose, and throat) or lower respiratory
                        tract
                        (windpipe and lungs).<br>
                        Most people infected with the COVID-19 virus will experience mild to moderate respiratory
                        illness
                        and
                        recover without requiring special treatment. Older people, and those with underlying medical
                        problems
                        like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely
                        to
                        develop serious illness.<br>
                        Health Authorites across the globe including World Health Organization (WHO) have alloted
                        majority
                        of
                        their
                        resources into producing the vaccine and have taken measures to prevent further spread of the
                        virus.<br>
                        WHO is issuing the COVID-19 Strategic Preparedness and Response Plan (SPRP) for 2021 and
                        accompanying
                        documents as a package aimed at guiding the coordinated action that we must take at national,
                        regional,
                        and global levels to overcome the ongoing challenges in the response to COVID-19, address
                        inequities,
                        and plot a course out of the pandemic.<br>
                        As leader of the global incident management support team (IMST) structure, the UN Crisis
                        Management
                        Team
                        (UNCMT), and as a founder of the Access to COVID-19 Tools (ACT) Accelerator, WHO harnesses the
                        world’s
                        technical and operational expertise to translate knowledge into coordinated action.<br>
                        For More Information Check Out <a class='linking' href='https://www.who.int/'
                            target='blank'>WHO</a>.

                    </p>
                </div>
            </section>

            <section class="card" id="prevent">
                <div class="card-body">
                    <h2 class="display-5 text-center mb-4 mainhead">Preventing its Spread</h2>
                    <p class="lead col-lg-6 offset-lg-3 subhead">
                        Health Authorities have provided rules and regulation that should be strictly followed in an
                        attempt
                        to
                        stop
                        the spread of the virus.<br>
                        &#8658 Clean your hands often. Use soap and water, or an alcohol-based hand rub.<br>
                        &#8658 Maintain a safe distance from anyone who is coughing or sneezing.<br>
                        &#8658 Wear a mask when physical distancing is not possible.<br>
                        &#8658 Don’t touch your eyes, nose or mouth.<br>
                        &#8658 Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.<br>
                        &#8658 Stay home if you feel unwell.<br>
                        &#8658 If you have a fever, cough and difficulty breathing, seek medical attention.
                        Calling in advance allows your healthcare provider to quickly direct you to the right health
                        facility.
                        This protects you, and prevents the spread of viruses and other infections.<br>
                        &#8658 Masks can help prevent the spread of the virus from the person wearing the mask to
                        others.
                        Masks
                        alone
                        do not protect against COVID-19, and should be combined with physical distancing and hand
                        hygiene.
                        Follow the advice provided by your local health authority.
                    </p>
                </div>
            </section>
            <div class="container">
                <div class='row'>
                    <div class='col-lg-6'>
                        <img src='https://media.healthdirect.org.au/images/inline/original/covid-cold-flu-symptoms-bd24a5.png'
                            class='img-fluid' alt='Understanding The Symptoms'>
                    </div>

                    <div class='col-lg-6 my-auto'>
                        <img src='https://media.healthdirect.org.au/images/inline/original/avoiding-covid-19-4f6632.png'
                            class='img-fluid' alt='Understanding The Symptoms'>
                    </div>
                </div>
            </div>
            <section class='card' id='journey'>
                <div class="card-body">
                    <h2 class="display-4 text-center mb-4 mainhead">Journey From 2019-Present</h2>
                    <p class="lead col-lg-6 offset-lg-3 subhead">&#10230On December 31, 2019, the World Health
                        Organization
                        (WHO) is
                        alerted to
                        a cluster of pneumonia cases "of unknown cause" in the central Chinese city of Wuhan.<br>
                        &#10230 On January 7, 2020 a new coronavirus is identified. Four days later China announces its
                        first
                        death in
                        Wuhan from an illness which will be named COVID-19.<br>
                        &#10230 On 12 January 2020, Chinese authorities shared the sequence of a novel coronavirus
                        termed
                        severe
                        acute respiratory syndrome coronavirus 2 (SARS-CoV-2) isolated from some clustered cases .<br>
                        &#10230 On February 15 France reports the first death confirmed outside Asia, a Chinese
                        tourist.<br>
                        &#10230 By March 6 more than 100,000 cases have been recorded around the world. On March 11, the
                        WHO
                        says
                        COVID-19 is a pandemic.<br>
                        &#10230 Global stock markets crash.<br>
                        &#10230 Spain (March 14) and France (March 17) order their populations to stay at home. Germany
                        and
                        Britain say
                        people should avoid all social contact. The 27-nation European Union closes its external
                        borders.<br>
                        &#10230 On April 2 more than 3.9 billion people—half of the world's population—are forced or
                        called
                        on
                        to
                        confine themselves, according to an AFP count. The same day the threshold of one million cases
                        is
                        crossed.<br>
                        &#10230 On April 29 the battered US aircraft manufacturer Boeing slashes 16,000 jobs.<br>
                        &#10230 By June 7 the death toll reaches more than 400,000 and Brazil becomes the country with
                        the
                        second
                        biggest death toll after the United States.<br>
                        &#10230 The grim milestone of a million deaths worldwide is passed on September 28. In October
                        infections start
                        to spiral in Europe, where many countries order new lockdowns and curfews.<br>
                        &#10230 On November 9, US biotech giant Pfizer and its German partner BioNTech unveil positive
                        results
                        of a
                        vaccine, as the number of official cases passes 50 million.<br>
                        &#10230 A week later a similar announcement comes from US firm Moderna, with an
                        AstraZeneca-Oxford
                        University
                        vaccine following fast behind.<br>
                        &#10230 As of 27th February 2021, the total number of cases have gone over 113.5 million with
                        over
                        63
                        million
                        recoveries
                        and a death toll of over 2.5 million</p>
                </div>
            </section>

            <section class='card' id='questions'>
                <div class='card-body'>
                    <h2 class="display-5 text-center mb-5 mainhead">Frequently Asked Questions</h2>
                    <h4 class='offset-lg-3'>How does the Virus Spread?</h4>
                    <p class='lead col-lg-6 offset-lg-3 mb-5 subhead'>

                        The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected
                        person
                        coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall
                        on
                        floors
                        or surfaces.
                        You can be infected by breathing in the virus if you are within close proximity of someone who
                        has
                        COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
                    </p>

                    <h4 class='offset-lg-3'>Who is at increased risk for developing severe illness from Covid-19?</h4>
                    <p class='lead col-lg-6 offset-lg-3 mb-5 subhead'>

                        People at increased risk include:<br>

                        &#8702 Older adults<br>
                        &#8702 People of all ages with certain underlying medical conditions<br>
                        &#8702 Pregnant people are also at increased risk for severe illness from COVID-19.<br>

                        Long-standing systemic health and social inequities have put many people from racial and ethnic
                        minority
                        groups at increased risk of getting sick and dying from COVID-19.<br>

                        In addition to those at increased risk, there are certain groups of people who require extra
                        precautions
                        during the pandemic.
                    </p>

                    <h4 class='offset-lg-3'>What are the symptoms and complications that Covid-19 can cause?</h4>
                    <p class='lead col-lg-6 offset-lg-3 mb-5 subhead'>

                        People with COVID-19 have reported a wide range of symptoms – from mild symptoms to severe
                        illness.
                        Symptoms may appear 2-14 days after exposure to the virus.<br> If you have fever, cough, or
                        other
                        symptoms,
                        you might have COVID-19.
                    </p>

                    <h4 class='offset-lg-3'>What should I do if I have had close contact with someone who has COVID-19?
                    </h4>
                    <p class='lead col-lg-6 offset-lg-3 mb-5 subhead'>

                        The best way to protect yourself and others is to stay home for 14 days if you think you’ve been
                        exposed
                        to someone who has COVID-19. Check your local health department’s website for information about
                        options
                        in your area to possibly shorten this quarantine period.<br>
                        Be alert for symptoms. Watch for fever, cough, shortness of breath, or other symptoms of
                        COVID-19.<br>
                        If possible, stay away from others, especially people who are at higher risk for getting very
                        sick
                        from
                        COVID-19.
                    </p>
                </div>
            </section>

            <!-- Footer -->
            <footer class="bg-dark text-center text-white mainhead">
                <div class="container p-4">
                    <section class="mb-4">

                        <a class="btn btn-outline-light btn-floating m-1 fa fa-google" href="https://www.google.com/"
                            role="button" target="_blank" rel="noopener noreferrer"></a>

                        <a class="btn btn-outline-light btn-floating m-1 fa fa-instagram"
                            href="https://www.instagram.com/__aravind.01__/" role="button" target="_blank"
                            rel="noopener noreferrer"></a>

                        <a class="btn btn-outline-light btn-floating m-1 fa fa-linkedin"
                            href="https://www.linkedin.com/in/aravind-arul/" role="button" target="_blank"
                            rel="noopener noreferrer"></a>

                        <a class="btn btn-outline-light btn-floating m-1 fa fa-facebook-f"
                            href="https://www.facebook.com/aravind.arul.3" role="button" target="_blank"
                            rel="noopener noreferrer"></a>

                    </section>

                    <section class="mb-4 row d-flex justify-content-center">
                        <h3>CONTACT ME</h3>
                        <p>
                            Phone No: +971 507867720<br>
                            Email ID: aravindarul18@gmail.com
                        </p>
                    </section>

                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2021 Copyright:
                        <a class="text-white" href="#">CovidTracker</a>
                    </div>
            </footer>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    </body>

</html>