.mainimg {
    /*height: 100vh;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('http://www.slidebackground.com/uploads/statistics-background/stat-statistics-open-learning-educational-support-1.jpg');    
    background-size: contain;
    background-position: top;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.backup{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://img.freepik.com/free-vector/business-candle-stick-graph-chart-stock-market-investment-trading-blue-background_62391-73.jpg?size=626&ext=jpg');
    
    background-size: contain;
    background-position: top;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 60vw;
  }
  
  .nav-link {
      padding: 0.25rem 0;
      font-weight: 700;
      color: rgba(255,255,255,0.5);
      margin-left: 1rem;
      border-bottom: 0.25rem solid transparent;
  }
  
  .nav-link:hover{
      color: rgba(255,255,255,0.5);
      border-bottom-color:rgba(255,255,255,0.5);
  }
  
  .nav-link.active {
      color: white;
      border-bottom-color:white;
  
  }
  
  .btn-secondary, .btn-secondary:hover{
      color: #333;
      text-shadow: none;
  }
  
  .tracking:hover{
      color: #006ada;
  }
  
hr{
    color: white;
}

.mainhead{
    font-family: Playfair Display, serif;
}

.subhead{
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    font-style: italic;
}

body::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: black;
      border-radius: 10px;
  }
  
  body::-webkit-scrollbar
  {
      
      width: 10px;
      background-color: black;
  }
  
  body::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
      background-color: white;
      border: 2px solid white;
  }

  @media (max-width: 800px){
    .scrolling{ 
        float: left;
        overflow-y: scroll;
        height: 40vh;
        width: 90%;

    }

    .cover-container{
        max-width: 100vw;
      }
      
      .heading div nav a{
        font-size: 12px;
      }

    footer{
        margin-top: 50vh;
    }

    .backup {
        /*height: 100vh;*/
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('http://www.slidebackground.com/uploads/statistics-background/stat-statistics-open-learning-educational-support-1.jpg');    
        background-size: contain;
        background-position: top;
        text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    }
    
    .mainimg{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('https://img.freepik.com/free-vector/business-candle-stick-graph-chart-stock-market-investment-trading-blue-background_62391-73.jpg?size=626&ext=jpg');
        
        background-size: contain;
        background-position: top;
        text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    }
  }
